
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* TEST */
    background-color: lightgray;
}

/* FONTS */

html{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

.white-text{
    color: white;
}

.album{
    display: block;
    min-height: 100%;
    width: 10vw;
    padding-bottom: 2rem;
    margin: 5px;
    background-color: blueviolet;
}

.image-wrap{
    position: relative;
}

FIXME:
.overlay-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}



.album img{
    max-width: 100%;
    height: auto;
}



.album-radius img{
    border-radius: 50%;
}

.album .album-title{
    padding-top: 1rem;
    text-align: center;
    font-weight: 600;
}

.album .album-subtitle{
    text-align: center;
    padding-top: .5rem;
    
}

.rightside-smalltxt{
    font-size: .7rem;
    font-weight: 550;
    color: grey;
}

.flex-wrap{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* MAIN */

.main{
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}

/* main-leftside */
.main-leftside{
    width:200px;
    height: 100%;
    background-color: black;

    flex-direction: column;
    overflow: hidden;
}

.leftside-top{
    height: calc(100% - 80px );
    background-color: antiquewhite;
    min-height: 600px;
}

.leftside-logo{
    
    /* TEST */
    height: 70px;
    background-color: aquamarine;
}

.leftside-button{
    /* TEST */
    height: 150px;
    background-color: lightgreen;
}

.leftside-playlist{
    /* TEST */
    height: calc(100% - 220px);
    background-color: lightsalmon;
    flex-grow: 1;
}

.leftside-bottom{
    height: 80px;
    /* TEST */
    background-color: aqua;
}


/* /main-leftside */

/* main-rightside */
.main-rightside{
    display: flex;
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}
/* /main-rightside */

/* rightside-header */
.rightside-header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    height: 70px;
    /* TEST */
    background-color: rgba(204, 0, 255, 0.452);
}
/* /rightside-header */

/* rightside-main-content */
.rightside-main-content{
    margin-top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    /* TEST */
    background-color: lightcoral;
}
/* /rightside-main-content */

/* rightside-nav */

.rightside-nav{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: lightskyblue;
    width: 100%;
    height: 50px;
}



.rightside-nav ul li{
    padding: 0 1rem;
    text-transform: uppercase;
}

.rightside-nav ul li a{
    color: inherit;
}




/* /rightside-nav */

/* rightside-albums */

.rightside-albums{
    padding-left: 1vw;
    width: 100%;
    
}

.rightside-albums>h2{
    font-size: 1.5rem;
}

.album-section{
    justify-content: space-between;
    padding-right: 2vw;
    padding-top: 1rem;
}

.rightside-albums:nth-child(2)>h2{
    padding-bottom: .5rem;
}

.rightside-albums .album-suggestion{
    padding-bottom: 1.5rem;
}






/* /rightside-albums */

/* /MAIN */


/* FOOTER */
.footer{
    width: 100vw;
    height: 100px;
    background-color: #282828;
    overflow: hidden;

}
/* /FOOTER */