
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* FONTS */

html{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

.white-text{
    color: white;
}

.album{
    width: calc(100% / 6 - 10px);
    padding-bottom: 2rem;
    margin: 5px;
}

@media screen and (max-width: 1100px) {
    .album{
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (max-width: 700px) {
    .album{
        width: calc(100% / 2 - 10px);
    }
}

.album .image-wrap{
    position: relative;
    width: 100%;
}

/* hover properties */
.album .image-wrap .overlay-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.overlay-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    display: none;
}

.album:hover .overlay-shadow,
.album:hover .overlay-icon{
    display: inline-block;
}
/* /hover properties */

.album img{
    max-width: 100%;
    display: block;
}

.album-radius img{
    border-radius: 50%;
}

.album .album-title{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
}

.album .album-subtitle{
    text-align: center;
    padding-top: .5rem;
}

.smalltxt{
    font-size: .7rem;
    font-weight: 550;
    color: grey;
}

.flex-wrap{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a:hover,
a li:hover,
a span:hover,
a>img:hover{
    color: white;
}

.bar-white-end{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, -40%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.bar:hover .bar-white-end{
    display: block;
}

.bar:hover .bar-white{
    background-color: chartreuse;
}

/* MAIN */

.main{
    display: flex;
    width: 100%;
    min-width: 566px;
    height: calc(100vh - 100px);
}

/* main-leftside */
.main-leftside{
    width:200px;
    height: 100%;
    background-color: black;

    flex-direction: column;
    overflow: hidden;
}

@media screen and (max-width: 600px){
    .main-leftside{
        width: 50px;
    }
}

.leftside-top{
    height: calc(100% - 80px );
    /* background-color: antiquewhite; */
    min-height: 500px;
    flex-direction: column;
}

.leftside-logo{
    position: relative;
    padding: .5rem;
    height: 70px;
}

.leftside-logo img:first-child{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:600px){
    .leftside-logo img:first-child{
        display: none;
    }
}

.leftside-logo img:nth-child(2){
    display: none;
}

@media screen and (max-width:600px){
    .leftside-logo img:nth-child(2){
        display: inline-block;
    }
}

.leftside-button{
    padding: .3rem;
}

@media screen and (max-width:600px){
    .leftside-button{
        margin: 0 auto;
    }
}

.button{
    padding-bottom: 1rem;
}

.button img.active-left{
    border-left: .2rem solid green ;
}

.button img{
    height: 1.5rem;
    vertical-align: middle;
    border-left: .2rem solid transparent ;
    color: #808080;
}

.button img:nth-child(2){
    display: none;
}

.button a:hover img:first-child{
    display: none;
}

.button a:hover img:nth-child(2){
    display: inline-block;
}

.button span{
    vertical-align: middle;
    font-size: .7rem;
    padding-left: .2rem;
}

@media screen and (max-width: 600px) {
    .button span{
        display: none;
    }
}

.leftside-playlist{
    flex-grow: 1;
    overflow: hidden;
    padding: .5rem;
}

@media screen and (max-width: 600px) {
    .leftside-playlist{
        display: none;
    }
}

.leftside-playlist>h2{
    text-transform: uppercase;
    color: white;
    padding-bottom: 1rem;
}

.create-playlist{
    padding-bottom: 1rem;
    display: flex;
    vertical-align: middle;
}

.create-playlist .create-plus{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: black;
    background-color: grey;
}

.leftside-playlist a:hover .create-plus{
    background-color: white;
}

.create-txt{
    padding-left: .5rem;
    color: grey;
    line-height: 30px;
    font-weight: 500;
}


.leftside-playlist ul{
    height: 70%;
    overflow-y: auto;
    padding-bottom: 2rem;
}

.leftside-playlist ul li{
    padding: .5rem 0;
}

.leftside-bottom{
    max-height: 80px;
}

@media screen and (max-width:600px){
    .leftside-bottom{
        padding-bottom: 5rem;
    }
}

.install-app a{
    margin: 0 .5rem 0 .5rem;
}

.install-app a>img{
    width: 15px;
    vertical-align: middle;
}

.install-app img:nth-child(2){
    display: none;
}

.install-app a:hover img:first-child{
    display: none;
}

.install-app a:hover img:nth-child(2){
    display: inline-block;
}

@media screen and (max-width:600px) {
    .install-app a>img{
        width: 20px;
        margin-left: 5px;
    }
}

.install-app a>span{
    padding-left: .5rem;
}

@media screen and (max-width: 600px){
    .install-app a>span{
        display: none;
    }
}

.leftside-bottom .line{
    margin: .5rem auto;
    height: 1px;
    width: calc(100% - 1rem);
    background-color: #808080;
}

.leftside-bottom .user-profile{
    margin-left: .5rem;
}

.user-logo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: grey;
    display: inline-block;
    vertical-align: middle;
}

.user-logo{
    float: left;
}

.user-name{
    height: 30px;
    float: left;
    padding-left: 1rem;
    line-height: 30px;
    color: white;
    font-weight: 600;
} 

@media screen and (max-width: 600px){
    .user-name{
        display: none;
    }
}
/* /main-leftside */

/* main-rightside */
.main-rightside{
    display: flex;
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .main-rightside{
        width:calc(100% - 50px);
    }
}
/* /main-rightside */

/* rightside-header */
.rightside-header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: inherit;
    height: 70px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.295);
}

.cta-wrap{
    margin-right: 1rem;
    width: 20rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cta-btn{
    width: 16rem;
    height: 50px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.header-cta-btn:hover {
    width: 18rem;
    height: 52px;
    font-size: 1.1rem;
}

/* /rightside-header */

/* rightside-main-content */
.rightside-main-content{
    margin-top: 70px;
    width: 100%;
    height: calc(100% - 70px);
}
/* /rightside-main-content */

/* rightside-nav */

.rightside-nav{
    display: inline-block;
    line-height: 50px;
    width: 100%;
    height: 50px;
}


.rightside-nav ul{
    text-align: center;
    
}
.rightside-nav ul li{
    display: inline-block;
    padding: 0 1vw;
    text-transform: uppercase;
}

.rightside-nav ul li a{
    color: grey;
    border-bottom: .2rem solid transparent;
}

/* hover properties */
.rightside-nav li a:hover{
    color: white;
}

.active-bottom .bottom-green{
    margin: 0 auto;
    margin-top: -15px;
    width: 2rem;
    height: .2rem;
    background-color: green;
}
/* /hover properties */

/* /rightside-nav */

/* rightside-albums */
.rightside-albums{
    padding-left: 1vw;
    width: 100%;
}

.rightside-albums>h2{
    font-size: 1.5rem;
}

.album-section{
    display: flex;
    padding-right: 2vw;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.rightside-albums:nth-child(2)>h2{
    padding-bottom: .5rem;
}

.rightside-albums .album-suggestion{
    padding-bottom: 1.5rem;
}
/* /rightside-albums */
/* /MAIN */

/* FOOTER */
.footer{
    min-width: 566px;
    width: 100vw;
    height: 100px;
    background-color: #282828;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 .5vw;
}

/* album footer info */
.album-footer-info{
    /* overflow: hidden; */
    height: 100%;
    width: 10rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.album-footer{
    width: 40%;
    height: 100%;
    padding: 1.3rem .5rem;
}

.album-footer img{
    height: 60px;
}

.album-footer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.album-info-footer .white-text{
    font-weight: 700;
}

.album-icon-footer{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.album-icon-footer i{
    padding: .3rem;
    color: grey;
}
/* /album footer info */

/* main-control-player */
.main-control-player{
    height: 100%;
    max-width: 40%;
    min-width: 240px;
    overflow: hidden;
}

.button-player{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
}

.button-player a i{
    padding: 0 2vw;
    color: white;
    font-size: 1.2rem;
}

.button-player .player{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-player .player i{
    font-size: 2rem;
} 

.button-player .player i:hover{
    font-size: 2.8rem;
}

/* player bar */
.bar-player{
    flex-shrink: 1;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar{
    height: 3px;
    width: 300vw;
    border-radius: 3px;
    background-color: grey;
    cursor: pointer;
}

.bar-white{
    height: 3px;
    width: 15%;
    border-radius: 3px;
    background-color: white;
    position: relative;
}

.bar-player .time-to-start,
.bar-player .time-to-end {
    font-size: .7rem;
    color: white;
}

.bar-player .time-to-start{
    padding: 0 1vw;
}

.bar-player .time-to-end{
    padding:0 1vw;
}
/* /main-control-player */

/* audio-share-footer */
.audio-share-footer{
    flex-shrink: 0;
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
}

.icon-audio-section{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.audio-share-footer i{
    padding: .5vw;
    color: white;
}

.bar-audio-section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.audio-share-footer .bar{
    width: 80%;
    height: 3px;
    border-radius: 3px;
    background-color: grey;
}

.audio-share-footer .bar-white{
    height: 3px;
    border-radius: 3px;
    width: 40%;
    background-color: white;
}
/* /audio-share-footer */



/* /FOOTER */