
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* TEST */
    background-color: lightgray;
}

/* FONTS */

html{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

.white-text{
    color: white;
}

.grey-text{
    color: grey;
}

.album{
    display: block;
    min-height: 100%;
    width: 10vw;
    padding-bottom: 2rem;

    background-color: blueviolet;
}

.album img{
    max-width: 100%;
}

.album .album-title{
    padding-top: 1rem;
    text-align: center;
    font-weight: 600;
}

.album .album-subtitle{
    text-align: center;
    padding-top: .5rem;
    font-size: .7rem;
    font-weight: 550;
}

.flex-wrap{
    display: flex;
}

/* MAIN */
.main{
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
}

/* main-leftside */
.main-leftside{

    width:300px;
    height: 100%;
    background-color: black;
}
/* /main-leftside */

/* main-rightside */
.main-rightside{
    display: flex;
    width: calc(100% - 300px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}
/* /main-rightside */

/* rightside-header */
.rightside-header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    height: 70px;
    /* TEST */
    background-color: rgba(204, 0, 255, 0.452);
}
/* /rightside-header */

/* rightside-main-content */
.rightside-main-content{
    margin-top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    /* TEST */
    background-color: lightcoral;
}
/* /rightside-main-content */

/* rightside-nav */

.rightside-nav{
    display: flex;
    align-items: center;
    justify-content: center; 

    background-color: lightskyblue;
    width: 100%;
    height: 50px;
    
}


/* /rightside-nav */

/* rightside-albums */

.rightside-albums{
    width: 100%;
    height:calc(100% - 50px);
    padding: 1rem;
    

}


.rightside-albums>h2{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}

.rightside-albums .recently-played{
    justify-content: space-between;
    padding-right: 2rem;
}




/* /rightside-albums */

/* /MAIN */


/* FOOTER */
.footer{
    width: 100vw;
    height: 100px;
    background-color: #282828;

}
/* /FOOTER */